# python modular
__pycache__/


# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

imgui.ini
.polyscope.ini

tex_math/
3d-sketches-dataset/
debug_normals/
debug_normals_org/
debug_normals_gltf/
debug_normals_w_r/
iso_figs/
debug_surfaces/
convex_hull_area_surface/
convex_hull_voronoi_area/
opt_figs/
gltf/
normals_gltfs/
surface/
current_not_used_scripts/
normal/
opt_two_normal/
opt_one_normal/
sketches_split/

sketches_split_gltf/
sketches_split_png/
sketches/
3d-original-objs/
temp/
3d-sketches-processing/

backup_scripts/
gltf_viewer.html
gltf_showcase/
surfaces
3d-sketches/

data/
made_examples/
playground/
sphere_experiments/

steps/
cut_edges/build
cgal_remesh/build
signed-heat-3d-aside/
