# python modular
__pycache__/


# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

imgui.ini
.polyscope.ini

tex_math/
3d-sketches-curated-dataset-main/
debug_normals/
debug_normals_gltf/
debug_normals_w_r/
iso_figs/
debug_surfaces/
made_examples/
convex_hull_area_surface/
convex_hull_voronoi_area/
opt_figs/
signed-heat-3d/
gltfs/
normals_gltfs/
surface/